<div class="container mt-3" *ngIf="!listaDetalleVacia(); else sinDetalles">
  <h3>{{titulo}}</h3>
  <hr>
  <div class="row">
    <a type="button" class="btn btn-warning col-auto me-3 mb-2" href="/productos">Agregar productos</a>
    <a type="button" class="btn btn-warning col-auto mb-2" href="/categorias">Ver categorias</a>
  </div>
  <div class="row">
    <div class="card p-1 bg-card">
      <table class="table table-borderless text-center table-warning">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detalle of listadoDeDetalles; let i = index">
            <td>{{i + 1}}</td>
            <td>{{detalle.nombre}}</td>
            <td>{{detalle.cantidad.toFixed(2)}}</td>
            <td>{{detalle.precio.toFixed(2)}} €</td>
            <td>{{detalle.total.toFixed(2)}} €</td>
          </tr>
        </tbody>
      </table>
      <h6 class="text-end me-3">Total compra {{totalLista.toFixed(2)}} €</h6>
    </div>
  </div>

  <div class="row justify-content-end">
    <button class="btn btn-danger col-auto me-3 mt-3" (click)="limpiarLista()">Borrar listado</button>
    <button class="btn btn-success col-auto mt-3" (click)="generarListado()">Guardar listado</button>
  </div>
</div>

<ng-template #sinDetalles>
  <div class="container mt-3 text-center">
      <h3>Aún no hay ningún producto en tu lista actual...</h3>
      <img src="../../../assets/listado-vacio.png" alt="Lista vacía" style="width: 30%; margin: 2rem;">
      <div>
        <a type="button" class="btn btn-warning me-3 col-auto" href="/productos">Agregar productos</a>
        <a type="button" class="btn btn-warning col-auto" href="/categorias">Ver categorias</a>
      </div>
  </div>
</ng-template>