<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3">
      <h3>{{titulo}}</h3>
      <!-- LISTADO DE PRODUCTOS -->
      <div class="row mb-3" *ngIf="listadoDeProductos.length > 0; else sinProductos">
        <div class="col-auto mt-3" *ngFor="let prod of listadoDeProductos">
          <button class="btn btn-success" (click)="verDetallesDelProducto(prod)">{{prod.nombre}} +</button>
        </div>
      </div>
      <ng-template #sinProductos>
        <div>
          <p>No hay productos :/</p>
        </div>
      </ng-template>
      <!-- BOTON PARA ABRIR EL FORMULARIO DE NUEVO PRODUCTO -->
      <div class="row" *ngIf="btnNuevoProducto">
        <div class="col-auto me-3 mt-4">
          <button class="btn btn-warning" (click)="verFormularioNuevoProducto()"><strong>Nuevo producto
              +</strong></button>
        </div>
      </div>
      <!-- BOTON PARA ELIMINAR FILTROS -->
      <div class="row">
        <div class="col-auto me-3 mt-4" *ngIf="btnLimpiarFiltro">
          <a routerLink="/productos" class="btn btn-secondary">Eliminar filtros</a>
        </div>
      </div>
    </div>

    <!-- INFORMACION DEL PRODUCTO SELECCIONADO Y FORMULARIO PARA AGREGAR EL PRODUCTO A LA LISTA -->
    <div class="col-md-4 -mt-3">
      <div class="card mt-4 bg-card" *ngIf="productoSeleccionado; else formNuevoProducto">
        <img src="{{productoSeleccionado.imgUrl}}" class="card-img-top" alt="img producto">
        <div class="card-body">
          <h5 class="card-title">{{productoSeleccionado.nombre}}</h5>
          <p class="card-text">{{productoSeleccionado.informacion}}</p>
          <h6 class="card-text">Precio: {{productoSeleccionado.precioUnitario}} €</h6>
          <form class="row g-3" (submit)="agregarAListaActual()">
            <div class="col">
              <input type="number" step=".5" class="form-control bg-card" [(ngModel)]="cantidadProducto" name="cantidadProducto"
                placeholder="Cantidad" required>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-warning mb-3">Agregar a listado</button>
            </div>
          </form>
        </div>
      </div>

      <!-- FORMULARIO PARA CREAR NUEVO PRODUCTO Y GUARDARLO EN LA BBDD -->
      <ng-template #formNuevoProducto>
        <div class="card mt-4 bg-card">
          <h4 class="mt-2 ms-2">Nuevo producto</h4>
          <div class="card-body">
            <form class="row g-3" (ngSubmit)="guardarNuevoProducto()">
              <input type="text" class="form-control bg-card" placeholder="Nombre" name="nombre"
                [(ngModel)]="datosFormulario.nombre" required>
              <input type="text" class="form-control bg-card" placeholder="Información" name="informacion"
                [(ngModel)]="datosFormulario.informacion" required>
              <input type="file" class="form-control" (change)="cambioImagen($event)">
              <select class="form-select bg-card" name="idCategoria" [(ngModel)]="datosFormulario.idCategoria">
                <option value="" disabled selected>-- Seleccione categoría --</option>
                <option *ngFor="let categoria of categoriasSelect" value="{{categoria.id}}">{{categoria.nombre}}</option>
              </select>
              <input type="number" step=".05" class="form-control bg-card" placeholder="Precio unitario €"
                name="precioUnitario" [(ngModel)]="datosFormulario.precioUnitario" required>
              <button type="submit" class="btn btn-warning mb-3">Agregar</button>
            </form>
          </div>
        </div>
      </ng-template>

    </div>
  </div>
</div>